

.lluvia, .cubierto, .nuboso, .soleado {
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover;
    color: blanchedalmond;
}
.lluvia {
    background-image: url('../../../public/images/lluvia.jpg');
}
.cubierto {
    background-image: url('../../../public/images/cubierto.jpg');
}
.nuboso {
    background-image: url('../../../public/images/nuboso.jpg');
}
.soleado {
    background-image: url('../../../public/images/soleado.jpg');
}



h1 {
    text-align: center;
}

.figureHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 0;
}
figure span {
    margin-top: -1rem;
    margin: auto 1rem 2rem;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.containerCardHome {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 200px));
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1rem;
}
.containerCardHome div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0;
}