
.sectionCardHome {
    width: 100%;
    height: fit-content;
    margin-top: 5rem;
    background-color: aqua;
}

h1 {
    text-align: center;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:end;
    margin: 0;
}
figure span {
    margin-top: -1rem;
    margin: auto 1rem 2rem;
}

.containerCardHome {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 200px));
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1rem;
}
.containerCardHome div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0;
}